.header-component {
  .header-content {
    background: black;
    position: relative;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: white;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
    background-image: url('img/logoHighFive.png');
    background-repeat: no-repeat;
    width: 200px;
    min-height: 70px;
    background-size: 100% auto;
    background-position: 0 10px;
    font-weight: normal;
  }

  .logout-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    color: lightgrey;
    &:hover {
      color: white;
    }
  }
}