// component styles are encapsulated and only applied to their components
.home-component {

  .error-message {
    display: inline-block;
    background: white;
    color: red;
    border-radius: 25px;
    font-size: 1.2em;
    padding: .5em 5em;
    width: auto;
    position: absolute;
    z-index: 1000;
    width: 400px;
    right: 1em;
    top: 1em;
  }

  .form-modal {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    overflow: auto;
    border: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    .item-detail-component {
      color: black;
      border: 5px solid black;
      right: 0;
      top: 0;
      left: 0;
      background: white;
      margin: 100px auto 0 auto;
      width: 100%;
      max-width: 380px;
      height: auto;
    }
  }

  .actions {
    text-align: right;
  }

  .login-component {
    margin-top: 100px;
  }
}