html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
body {
    background: #f5f5f5;
    padding: 0;
}
a {
    color: #03A9F4;
}

main {
  width: 100%;
}

// styles applied on :host are applied on the current component, "app" in this case
#app {
    height: 100vh;
    width: 100vw;
}

.main-content {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}

//Fix Material Design rendering inputs as invalid before interaction
form {
  .mdl-textfield__label {
    color: inherit;

    &:after {
      bottom: 15px;
    }
  }
  &:not(.invalid) {

    .mdl-textfield.is-invalid {
      input:invalid, textarea:invalid {
        border-color: rgba(0,0,0, 0.12);
        &:focus {
          border-color: rgb(63, 81, 181);
        }
      }

      .mdl-textfield__error {
        visibility: hidden;
      }

      &.is-focused  {
        .mdl-textfield__label {
          font-size: 12px;
          color: orange;
          &:after {
            background-color: orange;
          }
        };
        .mdl-textfield__error {
          visibility: visible;
          color: grey;
        }
      }

      .mdl-textfield__label {
        color: inherit;
        font-size: inherit;
        &:after {
          background-color: inherit;
        }
      }
    }
  }
}

// TODO:  H5 styles can be broken out into related components

/* ---------------- bootstrap override ----------------  */

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default {
  background: #415464;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FC0;
}


.navbar-default .navbar-nav > .active > a {
  background: #5E6E7B;
  color: #FFF;
}

.navbar-default .navbar-collapse {
  border: none;
  max-width: 1340px;
  margin: 0 auto;
}

.container-fluid .row {
  max-width: 1340px;
  margin: 0 auto;
}

/*.h5-stats .col-lg-6 {
	padding-right: 0;
	padding-left: 0;
}*/

/* ---------------- highfive styles ---------------- */

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #264363;
  font-size: 2.2em;
}

h2 {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #264363;
  font-size: 1.65em;
}

h3 {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #264363;
  font-size: 1.25em;
}

.h5-hdr {
  background: url(./img/bgHdr.jpg) repeat-x left top;
}

.h5-logo {
  background: url(./img/bgHdrSeal.png) no-repeat 50% top;
  padding: 30px;
  border-bottom: #677682
}

.h5-recognition-card {
  border-width: 1px;
  border-style: solid;
  border-top-width: 10px;
  padding: 15px 20px 20px 20px;
  background: #FFF;
  margin: 0 10px 10px 0;
  padding-left: 130px;
  line-height: 130%;
  float: left;
}

.h5-recognition-card.h5-excellence {
  border-color: #FF9900;
}

.h5-recognition-card.h5-accountability {
  border-color: #CC3300;
}

.h5-recognition-card.h5-initiative {
  border-color: #990000;
}

.h5-recognition-card.h5-teamwork {
  border-color: #6633CC;
}

.h5-recognition-card.h5-empowerment {
  border-color: #0033CC;
}


.h5-recognition-card img {
  float: left;
  width: 90px;
  height: auto;
  max-height: 90px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px #aaa;
  margin: 10px 20px 0 -110px;
}

.h5-recognized-person {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #C22A37;
  font-size: 1.5em;
  display: block;
  line-height: 140%;
}

.h5-recognized-value {
  color: #264363;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.h5-recognized-date {
  display: block;
}

.h5-stats {
  background: #ECEEEF;
  border-bottom: solid 1px #CACFD3;
  margin-bottom: 20px;
}

.h5-stats-title {
  padding: 7px;
  font-weight: bold;
}

.h5-stats-content {
  padding: 5px;
  position: relative;
  height: 200px;
}

.h5-stats-graph {
  max-width: 300px;
  position: absolute;
}

.h5-stats-graph-value {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #C22A37;
  font-size: 2.2em;
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
}

.h5-stats-graph-value em {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 50%;
  font-style: normal;
  display: block;
  margin-top: -5px;
}

.h5-stats-legend {
  position: absolute;
  bottom: 10px;
}

.h5-squaredot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 15px;
}

.h5-stats-color-excellence {
  background: #FF9900;
}

.h5-stats-color-accountability {
  background: #CC3300;
}

.h5-stats-color-initiative {
  background: #990000;
}

.h5-stats-color-teamwork {
  background: #6633CC;
}

.h5-stats-color-empowerment {
  background: #616774;
}

.h5-mystats {
  font-family: "Merriweather", Georgia, Times, "Times New Roman", serif;
  color: #C22A37;
  font-size: 2.8em;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.h5-mystats em {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 40%;
  display: block;
  font-style: normal;
}

.h5-quicklinks .glyphicon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .h5-stats-display {
    display: none;
  }

  .h5-mobilehidden {
    display: none;
  }
}

// End H5 styles

// Support for Bootstrap menus without Javascript
/* show the collapse when navbar toggle is checked */
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none
}